PUBLIC_URL=http://localhost:5173
PUBLIC_LOJA=loja1

BANCO_HOST=localhost
BANCO_USUARIO=postgres
BANCO_PORTA=5432
BANCO_SENHA=preencher_senha
BANCO_BANCO_DE_DADOS=bancoTesteEcommerce

# DRIZZLE
DATABASE_URL="postgres://postgres:preencher_senha@localhost:5432/bancoTesteEcommerce"
